src/main/app/splitters.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="splittersFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/splitter" doc:name="HTTP"/>
        <logger message="capture the input data:#[payload]" level="INFO" doc:name="Logger"/>
        <splitter expression="#[xpath3('//productsList/product', message.payload, 'NODESET')]" doc:name="Splitter"/>
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
        <collection-aggregator failOnTimeout="true" doc:name="Collection Aggregator"/>
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
        <file:outbound-endpoint path="C:\Users\SRINIVAS\Desktop\mule\outbound" responseTimeout="10000" doc:name="File"/>
        <logger message="Successfully created files in destination folder" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
